@use 'variables'as *;

.question-button.box,
.topic-button.box {
  inline-size: 100%;
  // max-inline-size: 327px;
  border-radius: clamp(0.750rem, calc(0.214rem + 2.679vw), 1.500rem);
  font: $TextPreset-4-m;
  padding: clamp(1rem, calc(0.711rem + 1.233vw), 1.5rem);
  background-color: $White;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.08);

  //데스크탑은 640에서 564로 줄어든다.
  // @media (min-width: 1024px) {
  //   max-inline-size: 35.25rem;
  // }

}

.question-button {
  position: relative;

  &::before {
    content: attr(data-text);
    width: clamp(2.5rem, calc(1.546rem + 4.071vw), 3.5rem);
    height: clamp(2.5rem, calc(1.546rem + 4.071vw), 3.5rem);
    border-radius: 0.5rem;
    line-height: clamp(2.5rem, calc(1.546rem + 4.071vw), 3.5rem);
    color: $Grey-500;
    background-color: $Grey-50;
  }

  &--purple {
    border: 0.1875rem solid $Purple-600;

    &::before {
      color: #fff;
      background-color: $Purple-600;
    }
  }

  &--green {
    border: 0.1875rem solid $Green-500;

    &::before {
      color: #fff;
      background-color: $Green-500;
    }

    &::after {
      content: '';
      // 오른쪽 끝에 붙인다.
      margin-inline-start: auto;
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(../images/icon-correct.svg);
    }
  }

  &--red {
    border: 3px solid $Red-500;

    &::before {
      color: #fff;
      background-color: $Red-500;
    }

    &::after {
      content: '';
      // 오른쪽 끝에 붙인다.
      margin-inline-start: auto;
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(../images/icon-incorrect.svg);
    }
  }

  @container style(--theme:dark) {
    color: #fff;
    background-color: $Blue-850;
  }
}