@use 'variables' as *;

.answer-option,
.topic-link {
  inline-size: 100%;
  border-radius: clamp(0.75rem, calc(0.214rem + 2.679vw), 1.5rem);
  font: $TextPreset-4-m;
  padding: clamp(1rem, calc(0.711rem + 1.233vw), 1.5rem);
  background-color: $White;
  box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.08);

  border: 0.1875rem solid transparent;

  &:focus-visible {
    outline: 2px solid var(--color-focus);
    outline-offset: 4px;
  }

  // 사용자 편의성을 위해
  cursor: pointer;

  @container style(--theme : dark) {
    background-color: $Blue-850;
  }
}

.topic-link {
  color: inherit;
  text-decoration: none;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      border-color: $Purple-600;
    }
  }
}

.answer-option {
  display: flex;
  gap: clamp(1rem, calc(0.046rem + 4.071vw), 2rem);
  align-items: center;
  position: relative;

  [class^='answer'] {
    text-align: left;
  }

  &::before {
    flex-shrink: 0;
    content: attr(data-text);
    width: clamp(2.5rem, calc(1.546rem + 4.071vw), 3.5rem);
    height: clamp(2.5rem, calc(1.546rem + 4.071vw), 3.5rem);
    border-radius: 0.5rem;
    line-height: clamp(2.5rem, calc(1.546rem + 4.071vw), 3.5rem);
    color: $Grey-500;
    background-color: $Grey-50;
    text-align: center;
  }

  .answer-option__text {
    flex-grow: 0;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover:not(.answer-option--purple, .answer-option--green, .answer-option--red):has(input[name='answer']:not(:checked):not(:disabled)) {
      &::before {
        color: $Purple-600;
        background-color: $Purple-100;
      }
    }
  }

  &:has(input[name='answer']:checked:not(:disabled)) {
    border: 0.1875rem solid $Purple-600;

    &::before {
      color: #fff;
      background-color: $Purple-600;
    }
  }

  &:has(input:focus-visible) {
    outline: 2px solid var(--color-focus);
    outline-offset: 4px;
  }

  &--purple {
    border: 0.1875rem solid $Purple-600;

    &::before {
      color: #fff;
      background-color: $Purple-600;
    }
  }

  &--green {
    border: 0.1875rem solid $Green-500;

    &::before {
      color: #fff;
      background-color: $Green-500;
    }

    &::after {
      flex-shrink: 0;
      content: '';
      // 오른쪽 끝에 붙인다.
      margin-inline-start: auto;
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(../images/icon-correct.svg);
    }
  }

  &--red {
    border: 0.1875rem solid $Red-500;

    &::before {
      color: #fff;
      background-color: $Red-500;
    }

    &::after {
      flex-shrink: 0;
      content: '';
      // 오른쪽 끝에 붙인다.
      margin-inline-start: auto;
      width: 2.5rem;
      height: 2.5rem;
      background-image: url(../images/icon-incorrect.svg);
    }
  }

  @container style(--theme:dark) {
    color: #fff;
    background-color: $Blue-850;
  }
}
