@charset "UTF-8";

$White: #ffffff;
$Black: #000000;

$Grey-500: #626c7f;
$Grey-50: #f4f6fa;

$Blue-950: #2d3949;
$Blue-900: #313e51;
$Blue-850: #3b4d66;
$Blue-500: #306aff;
$Blue-300: #abc1e1;
$Blue-50: #ebf0ff;

$Green-500: #2fd887;
$Green-100: #e0fdef;
$Purple-600: #a729f5;
$Purple-100: #f6e7ff;

$Orange-400: #ff7e35;
$Orange-50: #fff5ed;

$Red-500: #ee5454;

/// 이탤릭체, 굵게, 크기 1.2rem, 줄간격 1.5배, 폰트
$TextPreset-1-m:
  normal 500 clamp(5.5rem, calc(2.16rem + 14.249vw), 9rem) / 1 Rubik,
  sans-serif; //88 ~ 144px

$TextPreset-2-m:
  normal 500 clamp(2.5rem, calc(1.069rem + 6.107vw), 4rem) / 1 Rubik,
  sans-serif; //40 ~ 64px

$TextPreset-2-l:
  normal 300 clamp(2.5rem, calc(1.307rem + 5.089vw), 3.75rem) / 1 Rubik,
  sans-serif; //40 ~ 64px

$TextPreset-3-m:
  normal 500 clamp(1.25rem, calc(0.296rem + 4.071vw), 2.25rem) / 1.2 Rubik,
  sans-serif; //20 ~ 36px

$TextPreset-4-m:
  normal 500 clamp(1.125rem, calc(0.529rem + 2.545vw), 1.75rem) / 1 Rubik,
  sans-serif; //18 ~ 28px

$TextPreset-5-m:
  normal 500 clamp(0.875rem, calc(0.279rem + 2.545vw), 1.5rem) / 1.5 Rubik,
  sans-serif; //14  ~ 24px

$TextPreset-5-r-italic:
  italic 400 clamp(0.875rem, calc(0.517rem + 1.527vw), 1.25rem) / 1.5 Rubik,
  sans-serif; //14  ~ 20px

$TextPreset-5-r:
  normal 400 clamp(1.125rem, calc(0.767rem + 1.527vw), 1.5rem) / 1.5 Rubik,
  sans-serif; //24px
$TextPreset-6-r:
  italic 400 1.25rem/1.5 Rubik,
  sans-serif; //20px

$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-800: 4rem;
$spacing-1600: 8rem;
$spacing-1800: 9rem;
$spacing-2300: 11.5rem;

$breakpoints: (
  'tablet': 768px,
  'desktop': 1024px,
);
