@charset "UTF-8";


$White : #FFFFFF;
$Black : #000000;

$Grey-500 : #626C7F;
$Grey-50 : #F4F6FA;

$Blue-950 :#2D3949;
$Blue-900 :#313E51;
$Blue-850 : #3B4D66;
$Blue-500 : #306AFF;
$Blue-300 : #ABC1E1;
$Blue-50 : #EBF0FF;

$Green-500: #2FD887;
$Green-100: #E0FDEF;
$Purple-600: #A729F5;
$Purple-100: #F6E7FF;

$Orange-400: #FF7E35;
$Orange-50: #FFF5ED;

$Red-500: #EE5454;

/// 이탤릭체, 굵게, 크기 1.2rem, 줄간격 1.5배, 폰트 
$TextPreset-1-m: normal 500 9rem/1.0 Rubik; //144px  
$TextPreset-1-m-mobile: normal 500 5.5rem/1.0 Rubik; //88px  

$TextPreset-2-m: normal 500 4rem/1.0 Rubik; //64px
$TextPreset-2-m-mobile: normal 500 2.5rem/1.0 Rubik; //40px

$TextPreset-2-l: normal 300 4rem/1.0 Rubik; //64px
$TextPreset-2-l-mobile: normal 300 2.5rem/1.0 Rubik; //40px

$TextPreset-3-m: normal 500 2.25rem/1.2 Rubik; //36px
$TextPreset-3-m-mobile: normal 500 1.25rem/1.2 Rubik; //20px


$TextPreset-4-m: normal 500 1.75rem/1.0 Rubik; //28px
$TextPreset-4-m-mobile: normal 500 1.75rem/1.0 Rubik; //18px

$TextPreset-5-m: normal 500 1.5rem/1.5 Rubik; //24px
$TextPreset-5-m-mobile: italic 500 0.875rem/1.5 Rubik; //24px

$TextPreset-5-r: normal 400 1.5rem/1.5 Rubik; //24px
$TextPreset-6-r: italic 400 1.25rem/1.5 Rubik; //20px

$spacing-100: 0.5rem;
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
$spacing-500: 2.5rem;
$spacing-600: 3rem;
$spacing-800: 4rem;
$spacing-1600: 8rem;
$spacing-1800: 9rem;
$spacing-2300: 11.5rem;


